.main-chat-header-wrapper {
    width: 100%;
    height: 5rem;
    position: relative; 
    border-bottom: 1px solid #e1e1e1;
    .main-chat-header-box {
        width: 100%;
        height: 100%;
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .main-chat-header-receiver-info {
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .main-chat-header-receiver-avatar {
            min-width: 3.2rem;
            height: 3.2rem;
        }
        .main-chat-header-receiver-text {
            width: 15rem;
            height: 3rem;
            padding-left: 1rem;
            .main-chat-header-username {
                width:80%;
                height: 2rem;
                line-height: 2rem;
                font-size: 1.2rem;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;

            }

            .main-chat-header-active {
                height: 1rem;
                line-height: 1rem;
                font-size: .8rem;
                color: #919191;
            }
        }
    }
    .main-chat-header-tools {
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .fas {
            display: block;
            font-size: 1.25rem;
            width: 1.75rem;
            height: 1.75rem;
            margin: 0 .5rem;
            text-align: center;
            line-height: 1.75rem;
            color: #5865F2;
            border-radius: .25rem;
            cursor: pointer;
            transition: .5s;
        }
    }
}

.chat-wrapper[data-theme='dark-theme'] .main-chat-header-wrapper {
    border-color: #41454d;
}