.element-extension {

    .list-links {
        width: 100%;
        max-height: 20rem;
        overflow-y: scroll;
    }

    .list-links::-webkit-scrollbar{
        width: 0.4rem;
    
    }

    .list-links::-webkit-scrollbar-thumb{
        background-color: #fff;
        border-radius: 1rem;
    }

    .list-links:hover{
        .list-links::-webkit-scrollbar-thumb{
            background-color: #888;

        }
    }
}