.main-chat-input-chat-wrapper {
    width: 100%;

    .main-chat-input-chat-form {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        padding: 1rem;
        .input-chat-content {
            width: calc(100% - 7rem);
            max-height: 10rem;
            border: none;
            outline: none;
            font-size: 1.1rem;
            padding: 0 .5rem;
            margin: auto .5rem;
            overflow-y: auto;
            * {
                background: none !important;
                color: black !important;
            }
        }
        .input-chat-content:empty::before {
            content: attr(data-placeholder);
            color: #525863;
        }

        .input-chat-content::-webkit-scrollbar {
            width: .4rem;
        }

        /* Track */
        .input-chat-content::-webkit-scrollbar-track {
            background: white;
        }

        /* Handle */
        .input-chat-content::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 1rem;
        }

        .input-chat-content::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 1rem;
            visibility: hidden;
        }

        .input-chat-content:hover::-webkit-scrollbar-thumb {
            visibility: visible;
        }

        .input-chat-submit {
            min-width: 7rem;
            height: 2.5rem;
            font-size: 1.1rem;
            border: none;
            color: white;
            background-color: #5865F2;
            border-radius: .25rem;
            cursor: pointer;
        }
    }
}

.chat-wrapper[data-theme='dark-theme'] {
    .input-chat-content {
        background-color: #36393f;
        * {
            background: #36393f !important;
            color: white !important;
        }
    }
}