.friend-center-wrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 2rem;
    .friend-center-title {
        width: 100%;
        height: 3rem;
        font-size: 1.75rem;
        margin-left: 1rem;
        i {
            font-size: 1.5rem;
            display: inline-block;
            width: 3rem;
            height: 3rem;
            background-color: #5865F2;
            margin-right: .5rem;
            line-height: 3rem;
            text-align: center;
            color: #ffffff;
            border-radius: 50%;
        }
    }

    .friend-center {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: space-evenly;
    }
}

.friend-center-wrapper::-webkit-scrollbar {
    width: .4rem;
}

.friend-center-wrapper::-webkit-scrollbar-track {
    background: none;
}

.friend-center-wrapper::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1rem;
    visibility: hidden;
}
.friend-center-wrapper:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}