
.main-chat-chat-area {
    width: 100%;
    height: calc(100% - 7rem);
    overflow: hidden;
    padding-bottom: 1rem;
    .main-chat-chat-area-wrapper {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column-reverse;
        padding: 0 1rem;
    }

    .main-chat-chat-area-wrapper::-webkit-scrollbar {
        width: .4rem;
      }
      
      /* Track */
      .main-chat-chat-area-wrapper::-webkit-scrollbar-track {
        background: white;
      }
      
      /* Handle */
      .main-chat-chat-area-wrapper::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 1rem;
      }

      .main-chat-chat-area-wrapper::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 1rem;
        visibility: hidden;
      }

      .main-chat-chat-area-wrapper:hover::-webkit-scrollbar-thumb {
        visibility: visible;
      }
}

.chat-wrapper[data-theme='dark-theme'] {
    .main-chat-chat-area-wrapper::-webkit-scrollbar-track {
        background: #36393f;
      }
}