.message-block {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: .15rem 0;
    .avatar {
        min-width: 2rem;
        height: 2rem;
        border-radius: 50%;
        overflow: hidden;
        img {
            width: 100%;
            display: block;
            height: 100%;
            object-fit: cover;
        }
    }
    .message-block-distance {
        min-width: 5rem;
    }

    .message-content {
        width: auto;
        max-width: 30rem;
        min-width: 5rem;
        background-color: #EFEFEF;  
        text-align: justify;
        margin-left: 1rem;
        border-radius: .5rem;
        position: relative;
        img {
            max-width: 12rem;
            border-radius: 1rem;
        }

        a {
            color: black;
            font-style: italic;
            user-select: text;
            word-break: break-word;
            white-space: pre-line;
            overflow-wrap: break-word;
        }

        p {
            width: fit-content;
            user-select: text;
            word-break: break-word;
            white-space: pre-line;
            overflow-wrap: break-word;
        }

        .message-content-time {
            margin-top: .75rem;
            font-size: 1rem;
            color: #afbace;
            bottom: 1.35rem;
            display: block;
        }
        .message-content-emotion {
            height: 1.6rem;
            line-height: 1.6rem;
            max-width: 7rem;
            min-width: 1.5rem;
            text-align: center;
            margin-top: .5rem;
            padding: 0 .5rem;
            background-color: #e0e0e0;
            border-radius: 1rem;
            float: right;
            font-size: 1rem;
            margin-bottom: .25rem;
            color: #5865F2;
            bottom: 1rem;
            left:65%;
            display: block;
            cursor: pointer;
            user-select: none;
        }
    }
}

.chat-wrapper[data-theme='dark-theme'] .message-block .message-content {
    background-color: #525863;
    .message-content-emotion {
        background-color: #797a8d;
        color: white;
    }
}