.search-message-wrapper {
    position: absolute;
    top: 5.01rem;
    width: 100%;
    height: 3.5rem;
    background-color: #f0f0f0;
    border-radius: 0 0 .25rem .25rem;
    z-index: 1;
    padding: 0 1rem;
    display: none;
    .search-message {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center; 
        i {
            display: inline-block;
            width: 2rem;
            height: 3rem;
            line-height: 3rem;
            font-size: 1.25rem;
            text-align: end;
            padding-right: 2rem;
            color: #5865F2 !important;
        }
        i.fa-times-circle {
            visibility: hidden;
            cursor: pointer;
        }
    
        input {
            width: calc(100% - 10rem);
            margin-right: .5rem;
            height: 2rem;
            background-color: white;
            border: none;
            outline: none;
            border-radius: .25rem;
            padding: 0 1rem;
        }
    
        button {
            width: 5rem;
            height: 2rem;
            border: 1px solid #5865F2;
            color: #5865F2 !important;
            border-radius: .25rem;
            background:  none;
            cursor: pointer;
        }
    }
    
    
}

.chat-wrapper[data-theme='dark-theme'] {
    .search-message-wrapper {
        background-color: #3b3f47;
        input {
            background-color: #525863;
        }
    }
}