.document-item {
    width: 90%;
    margin: 0 auto;
    min-height: 2rem;
    max-height: 4rem;

    a {
        color: #5865F2;
        font-size: 15px;
        font-weight: bold;
        line-height: 2rem;
    }
}