.main-chat-my-profile-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(#818181, .5);
    form  {
        width: 100%;
        height: 100%;
    }
    .my-profile {
        width: 27rem;
        height: 38rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-height: 95%;
        background-color: #ffffff;
        border-radius: .5rem;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 3rem calc(100% - 3rem - 5rem) 5rem;
        .my-profile-title {
            width: 100%;
            height: 100%;
            font-size: 1.2rem;
            font-weight: bold;
            line-height: 3rem;
            color: #5865F2;
            text-align: center;
         //   color: white;
            border-bottom: 1px solid #cecece;
            border-radius: .5rem .5rem 0 0;

        }

        .my-profile-scroll {
            width: 100%;
            height: 100%;
            overflow-y: auto;
            .my-profile-avatar-wrapper {
                width: 100%;
                height: 11rem;
                position: relative;
                .my-profile-cover-background {
                    width: 100%;
                    height: 8rem;
                    object-fit: cover;
                }
                .my-profile-avatar {
                    width: 100%;
                    height: 10rem;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.5rem;
                    position: absolute;
                    top: 1.5rem;
                }
                .my-profile-update-avatar {
                    width: 9rem;
                    height: 70%;
                    img {
                        width: 6.25rem;
                        height: 6.25rem;
                        object-fit: cover;
                        border-radius: 50%;
                        padding: .25rem;
                        border: 2px solid #cecece;
                        cursor: pointer;
                    }
                }
                
                .my-profile-update-static {
                    width: calc(100% - 8rem);
                    height: 80%;
                    text-align: start;
                    padding-top: 1rem;
                    .my-profile-name {
                        height: 40%;
                        font-size: 1.4rem;
                        line-height: 3rem;
                        font-weight: bold;
                        color: #333;
                    }
    
                    .my-profile-email {
                        height: 35%;
                        font-size: 1rem;
                        color: #595e69;
                    }
                }
            }

            .my-profile-update {
                width: 100%;
                height: 4.5rem;
                padding: 0 1.5rem;
                margin: 0 0 1rem 0;
                label {
                    color: #40434b;
                }
            }

            .my-profile-update-name-wrapper {
                display: flex;
                justify-content: space-between;
                margin-top: .5rem;
                .update-name {
                    width: 45%;
                    height: 2.5rem;
                    border: 1px solid #cecece;
                    border-radius: .25rem;
                    padding: 0 .5rem;
                    outline: none;
                }
            }

            .my-profile-update-DOB-wrapper {
                display: flex;
                justify-content: space-between;
                margin-top: .5rem;
            }

            .my-profile-update-sex-wrapper {
                display: flex;
                justify-content: center;
                margin-top: .5rem;
                .sex {
                    width: 10rem;
                    height: 2.5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    input {
                        margin-right: .5rem;
                        display: block;
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                }
            }
        }

         
        .my-profile-scroll::-webkit-scrollbar {
            width: .4rem;
        }
        
        /* Track */
        .my-profile-scroll::-webkit-scrollbar-track {
            background: white;
        }
        
        /* Handle */
        .my-profile-scroll::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 1rem;
        }

        .my-profile-scroll::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 1rem;
            visibility: hidden;
        }

        .my-profile-scroll:hover::-webkit-scrollbar-thumb {
            visibility: visible;
          }

        .my-profile-submit {
            width: 100%;
            height: 100%;  
            display: flex;
            justify-content: center;
            align-items: center;
            border-top: 1px solid #cecece;
            .my-profile-btn{
                margin: 0 1rem;
                width: 8rem;
                height: 2.25rem;
                border-radius: .25rem;
                outline: none;
                border: none;
                cursor: pointer;

            }
            .my-profile-btn-1 {
                color: #5865F2;
                border-color: #5865F2;
                border: 1px solid;
                background: none;
            }

            .my-profile-btn-2 {
                color: #ffffff;
                background-color: #5865F2;
            }
        }
    }
}

.chat-wrapper[data-theme='dark-theme'] .main-chat-my-profile-wrapper {
    .my-profile {
        background-color: #36393f;
        .my-profile-scroll::-webkit-scrollbar-track {
            background: #36393f;
        }

        label {
            color: white;
        }

        .update-name {
            background: none;
            border: 1px solid #626874;
        }

        .my-profile-submit {
            border-top: 1px solid #41454d;;
        }
    }
}