.custom-update-avatar {
    height: 15rem;

    .custom-avatar {
        height: 7rem;

        .text-error-avatar {
            color: red;
            text-align: center;
            width: 100%;
            display: inline-block;
        }
    }

    .my-group-update-avatar {
        width: 15rem;
        height: 15rem;
        margin: 2rem auto 0.5rem auto;
        label {
            width: 100%;
            height: 100%;
            border-radius: 50%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
                border: 1px solid #5865F2;
                transition: 0.1s all ease;
            }
        }

        img:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }

    .custom-avatar-group-btn {
        margin-top: 9rem;
    }
}
