$mainColor: #5865F2;
$backgroundDarkTheme: #36393f;

$searchBoxLightTheme: #f0f0f0;
$searchBoxDarkTheme: #525863;

$borderLightTheme: #e1e1e1;
$borderDarkTheme: #41454d;

$hoverLightTheme: #f1f1f1;
$hoverDarkTheme: #4e535c;