@import '../../../../scss/color';

.taskbar-wrapper {
    min-width: 4rem;
    height: 100vh;
    background-color: $mainColor;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    .taskbar-top {
        height: 40%;
        .my-avatar {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            border: 1px solid white;
            margin: 1rem auto;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                cursor: pointer;
            }
        }
        .task-items {
            width: 100%;
            height: 12rem;
            display: flex;
            justify-content: flex-start;
            .task-item-focus {
                width: .25rem;
                height: 100%;
                position: relative;
                span {
                    display: block;
                    width: 100%;
                    height: 4rem;
                    background-color: #ffffff;
                    border-radius: 1rem;
                    position: absolute;
                 //   transition: .5s;
                }
            }
            .task-items-box {
                width: 90%;
                height: 100%;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                .task-item {
                    display: block;
                    width: 80%;
                    height: 3rem;
                    color: white;
                    font-size: 1.5rem;
                    text-align: center;
                    line-height: 3rem;
                    cursor: pointer;
                    transition: .5s;
                    margin: 1rem auto;
                }
            }

            .active-task-item-chat {
                border-radius: 50%;
                color: $mainColor;
                background-color: #ffffff ;
            }
        }
    }
    
    .taskbar-bottom {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        .function-item {
            display: block;
            width: 100%;
            height: 4rem;
            color: white;
            font-size: 1.75rem;
            text-align: center;
            line-height: 4rem;
            margin-top: .5rem;
            cursor: pointer;
        }
        .fa-sign-out-alt {
            color: rgb(255, 108, 108);
        }
    }
}