.friend-request-item-wrapper {
    width: 18rem;
    height: 20rem;
    padding: 1rem;
}
.friend-request-item {
    width: 100%;
    height: 100%; 
    border: 1px solid #cecece;
    border-radius: .5rem;
    margin: 1rem 0;
    .friend-request-item-avatar {
        width: 100%;
        height: 9rem;
        text-align: center;
        line-height: 9rem;
        padding-top: 1rem;
        img {
            width: 7rem;
            height: 7rem;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    .friend-request-item-info {
        width: 100%;
        height: 5rem;
        p {
            width: 100%;
            text-align: center;
        }

        .friend-request-item-info-name {
            font-size: 1.2rem;
            font-weight: bold;
            height: 2rem;
        }

        .friend-request-item-info-sex {
            height: 1.5rem;
            color: rgb(150, 150, 150);
        }
    }

    .friend-request-item-btn {
        width: 100%;
        height: 5rem;
        display: flex;
        justify-content: center;
        .btn {
            width: 5rem;
            height: 2rem;
            font-size: .9rem;
            margin: 0 .5rem;
            border-radius: .25rem;
            border: none;
            cursor: pointer;
            transition: box-shadow .5s;
        }

        .btn:hover {
            box-shadow: 0 0 5px #5865F2;
        }

        .friend-request-item-btn-1 {
            border: 1px solid #5865F2;
            color: #5865F2;
            background: none;
        }

        .friend-request-item-btn-2 {
            background: #5865F2;
            color: #ffffff;
        }
    }
}

.chat-wrapper[data-theme='dark-theme'] .friend-request-item {
    border-color: #41454d;
}