.tab-tools {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .tab-search-box {
        width: 70%;
        height: 2rem;
        background-color: #f0f0f0;
        display: flex;
        justify-content: center;
        border-radius: 10rem;
        input {
            width: 85%;
            height: 100%;
            outline: none;
            border: none;
            background: none;
            padding-left: 1rem;
        }
        i {
            width: 15%;
            height: 100%;
            font-size: 1.15rem;
            text-align: center;
            line-height: 2rem;
            color: #5865F2;
        }
    }
    .tab-add-items {
        width: 20%;
        height: 2rem;
        display: flex;
        justify-content: space-around;
        i {
            width: 40%;
            display: block;
            height: 100%;
            line-height: 2rem;
            color: #5865F2;
            cursor: pointer;
        }
    }
}


.chat-wrapper[data-theme='dark-theme']  .tab-tools .tab-search-box {
    background-color: #525863;
}