.started-center-wrapper {
    width: 100%;
    position: relative;
    z-index: 0;
    .started-center {
        min-width: 80%;
        max-height: 50rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .started-center-start {
            width: 100%;
            height: 5rem;
            p {
                font-size: 1.1rem;
                text-align: center;
                color: rgb(122, 122, 122);
            }
        }
        .started-center-logo {
            max-width: 100%;
            height: 19rem;
            margin: 0 auto;
            img {
                display: block;
                margin: 0 auto;
                height: 80%;
                object-fit: cover;
                border-radius: 2rem;
            }
        }
        .started-center-slogan {
            width: 100%;
            height: 3.5rem;
            p {
                width: 100%;
                font-size: 1.5rem;
                font-weight: bold;
                background: linear-gradient(90deg,rgb(255, 8, 103),  #5865F2);
                background-clip: text;
                color: transparent;
                text-align: center;
            }
        }

        .started-center-panner {
            width: 100%;
            height: 5rem;
            p {
                font-size: 1.1rem;
                text-align: center;
                color: #999999;
            }
        }
    }
}