.item-function {
    height: 3rem;
    transition: 0.1s all ease;

    .function-name {
        font-size: 18px;
        line-height: 2.9rem;
        width: 90%;
        margin: 0 auto;
        border-bottom: 1px solid #626262;
    }
}

.item-function:hover {
    background-color: #efefef;
    cursor: pointer;
}

.chat-wrapper[data-theme='dark-theme'] {
    .item-function:hover {
        background-color: #4e535c;
    }
}