.friend-group-item {
    width: 95%;
    height: 5rem;
    margin: .75rem auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 .5rem;
    position: relative;
    z-index: 0;
    cursor: pointer;
    box-shadow: 0 0 .2rem #dedede;
    border-radius: .25rem;
    .friend-group-avatar {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
    }
    .friend-group-info {
        width: 50%;
        height: 3.5rem;
        padding-left: .5rem;
        .friend-group-name {
            width: 100%;
            position: relative;
            height: 3.5rem;
            line-height: 3.5rem;
            padding:0 .5rem;
            font-size: 1.10rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .other-feature {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 1.25rem;
        opacity: 0;
        border: 0;
        position: absolute;
        right: 1rem;
        transition: opacity  .25s;
        transition: background-color .25s;
        svg {  
            margin-top: .25rem auto 0 auto;
            width: 1.5rem;
            height: 100%;
        }
    }
    .friend-add-friend-btn {
        width: 7rem;
        height: 2rem;
        transform: translateX(.5rem);
        color: #5865F2;
        border: 1px solid #5865F2;
        font-size: .9rem;
        border-radius: .2rem;
        background: none;
        cursor: pointer;
        transition: .25s;
        text-align: center;
        line-height: 2rem;
    }

    .friend-add-friend-btn-cancel {
        color: red;
        border: 1px solid red;
    }
    
    .friend-add-friend-btn-add:hover {
        background-color: #5865F2;
        color: #fff;
    }

    .friend-add-friend-checkbox {
        width: 1rem;
        height: 1rem;
        cursor: pointer;
        transform: translateX(6rem);
    }
}

.active-friend-group-item {
    background-color: #f1f1f1;
}

.friend-group-item:hover {
    .other-feature {
        opacity: 1;
        cursor: pointer;
    }
    .other-feature:hover{
        background-color: #e1e1e1;
    }
}

.friend-group-item::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: .25s;
    border-radius: .25rem;
}

.friend-group-item:hover::after {
    background-color: #f1f1f1;
    width: 100%;
}

.chat-wrapper[data-theme='dark-theme'] {

    .friend-group-item:hover {
        .other-feature {
            visibility: visible;
            cursor: pointer;
            background-color: #4e535c;

        }
        .other-feature:hover{
            background-color: #41454d;
        }
    }

    .friend-group-item:hover::after {
        background-color: #4e535c;
    }
    .friend-group-item {
        box-shadow: 0 0 .25rem #41454d;
    }

    .active-friend-group-item {
        background-color: #4e535c;
    }
}
