.start-input-component {
    .two-input {
        width: 85%;
        margin: 0 auto;

        .block-input {
            width: 49%;
            float: left;

            .input-start {
                width: 100%;

                .format-option {
                    width: 100%;
                    height: 100%;
                    background-color: #fff;
                }
            }
        }

        .block-input:last-child {
            margin-left: 2%;
        }

        .text-error {
            width: 100%;
        }
    }

    .block-input-sex {
        position: relative;
        width: 85%;
        margin: 0 auto;

        .input-start {
            width: 100%;
        }

        .hide {
            display: none;
        }

        .show {
            display: block;
        }

        .ul-input {
            width: 100%;
            margin-bottom: 5px;
            border: 0;
            border-radius: 5px;
            font-size: 20px;
            transition: 0.1s all ease;
            position: absolute;
            z-index: 10;
            background-color: #fff;
    
            .li-input {
                width: 100%;
                height: 3rem;
                line-height: 3rem;
                font-size: 20px;
                border-top: 1px solid rgb(3, 76, 185);
                border-left: 1px solid rgb(3, 76, 185);
                border-right: 1px solid rgb(3, 76, 185);
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                padding: 0 1rem 0 1rem;
                transition: 0.2s all ease;
            }
    
            .li-input:last-child {
                border-top: 0;
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                border-bottom: 1px solid rgb(3, 76, 185);
            }
    
            .li-input:hover {
                cursor: pointer;
                background-color: #e2e0e0;
            }
        }
    }
}
