.tab-chat-item {
    width: 95%;
    height: 5rem;
    margin: .75rem auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 .5rem;
    position: relative;
    z-index: 0;
    cursor: pointer;
    box-shadow: 0 0 .2rem #dedede;
    border-radius: .25rem;
    .tab-chat-avatar {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
    }
    .tab-chat-info {
        width: 75%;
        height: 3.5rem;
        padding-left: .5rem;
        position: relative;
        z-index: -1;
        .tab-chat-name {
            width: 100%;
            height: 2rem;
            line-height: 2rem;
            padding:0 .5rem;
            font-size: 1.10rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .tab-chat-content {
            width: 100%;
            height: 1.5rem;
            line-height: 1.5rem;
            padding: 0 .5rem;
            font-size: 1rem;
            color: #919191;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .tab-chat-new-status {
        width: 1rem;
        height: 1rem;
        margin-right: .5rem;
        margin-top: -1.5rem;
        border-radius: 50%;
        font-size: .7rem;
        line-height: .9rem;
        text-align: center;
        color: white;
        background-color: red;
        font-weight: bold;
    }
}

.tab-chat-item::after {
    content: '';
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: .25s;
    border-radius: .25rem;
}

.tab-chat-item:hover::after {
    background-color: #f1f1f1;
    width: 100%;
}

.chat-wrapper[data-theme='dark-theme'] {

    .tab-chat-item {
        box-shadow: 0 0 .2rem #41454d;
    }

    .tab-chat-item:hover::after {
        background-color: #4e535c;
    } 
}