.main-chat-wrapper {
    height: 100vh;
    transition: width .25s;
    position: relative;
    .main-chat-chat-group-wrapper-box {
        width: 100%;
        height: calc(100% - 5rem);
        border-top: 1px solid #e1e1e1;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}

.chat-wrapper[data-theme='dark-theme'] .main-chat-wrapper {
    .main-chat-chat-group-wrapper-box {
        background-color: #36393f;
        border-top: 1px solid #4e535c;
    }
}

@media screen and (max-width: 1200px) {
    .main-chat-wrapper {
        width: 100% !important;
    }
}