.main-chat-wrapper {
    height: 100vh;
    border-right: 1px solid #e1e1e1;
    transition: width .25s;
}

.chat-wrapper[data-theme='dark-theme'] .main-chat-wrapper {
    border-right: 1px solid #4e535c;
}

@media screen and (max-width: 1200px) {
    .main-chat-wrapper {
        width: 100% !important;
    }
}