.start-input-component {
    width: 100%;
    padding: 0;
    margin: 0;
    
    .logo-merry-chat {
        width: 80%;
        margin: 8rem auto 0 auto;
        display: block;
    }

    .text-order-feature {
        width: 85%;
        margin: 0 auto;
    }

    .left {
        float: left;
    }

    .right {
        float: right;
    }

    .custom-btn {
        height: 50px;
        font-size: 20px;
        padding: 0 2rem 0 2rem;
        border-radius: 5px;
        display: block;
    }
}

.text-error {
    color: red;
    font-size: 16px;
    width: 85%;
    margin: 0 auto;
    display: block;

    svg {
        position: relative;
        top: 7px;
    }
}

.start-btn-white {
    color: #3c4cf5;
    background-color: #fff;
    transition: all 0.2s ease;
    border: 2px solid #3c4cf5;
}

.start-btn-white:hover {
    cursor: pointer;
    background-color: #efefef;
}

.two-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        margin: 10px;
        width: 170px;
    }
}
