.receive-video-call-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
    border-radius: .5rem;
    background-color: rgba(#818181, .5);
    .receive-video-call {
        width: 35rem;
        height: 10rem;
        background-color: white;
        position: absolute;
        border-radius: .5rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -70%);
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .receive-video-call-user-info-group {
        display: flex;
        align-items: center;
        .receive-video-call-user-avt {
            width: 5rem;
            height: 5rem;
            object-fit: cover;
            margin: 0 auto;
            display: block;
            border-radius: 50%;
            // animation: VocalCallAnimation1 1s linear infinite alternate;
        }
        .receive-video-call-user-status {
            height: 6rem;
            color: black;
            font-size: 1.25rem;
            margin-left: 1rem;
            line-height: 6rem;
            span {
                font-size: 1.5rem;
                animation: VocalCallAnimation3 2s linear infinite;
                animation-delay: calc(var(--value) * 2s / 3);
            }
        }

    }

    .receive-video-call-icons-group {
        bottom: 4rem;
        .receive-video-call-phone-icon {
            float: left;
            margin: 0 1rem;
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 50%;
            line-height: 3.5rem;
            text-align: center;
            cursor: pointer;
            .fa-solid {
                font-size: 1.25rem;
                color: #ffffff;
            }
        }

        .receive-video-call-phone-icon-phone-up {
            background-color: #32b132;
            animation: VocalCallAnimation2 1s linear infinite alternate;
        }

        .receive-video-call-phone-icon-phone-down {
            background-color: #ff144e;
        }
    }
}

.chat-wrapper[data-theme='dark-theme'] {
    .receive-video-call-wrapper {
        .receive-video-call {
            background-color: #36393f;
            .receive-video-call-user-info-group {
                .receive-video-call-user-status {
                    color: white;
                }
            }
        }
    }
}

@keyframes VocalCallAnimation1{
    to {
        transform: scale(1.1);
        box-shadow: 0 0 3rem .5rem  #5865F2,
                    0 0 1rem .3rem  #4ef3ff;
    }
}

@keyframes VocalCallAnimation2{
    to {
        box-shadow: 0 0 10px 5px  #36ac1f;
    }
}

@keyframes VocalCallAnimation3{
    to {
        opacity: 0;
    }
}

