.get-start-component {
    width: 100%;
    margin: 0;
    padding: 0;

    .get-start-title {
        width: 17rem;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        margin: 1rem auto 0 auto;
        color: #5865f2;

        p {
            font-size: 36px;
        }
    }

    .get-start-slogan {
        color: rgba(91, 91, 91, 1);
        font-size: 22px;
        text-align: center;
        margin: 2rem auto 2rem auto;
        width: 80%;
    }

    .custom-btn-start {
        margin-top: 10px;
    }
}

.input-start {
    width: 85%;
    height: 3rem;
    background: #e2e0e0;
    margin: 0 auto;
    margin-bottom: 5px;
    display: block;
    border: 0;
    border-radius: 5px;
    padding: 0 1rem 0 1rem;
    font-size: 20px;
    transition: 0.1s all ease;
}

.input-start:focus{
    background-color: #fff;
}

.input-start:focus::placeholder{
    color: transparent !important;
}

.input-start-error::placeholder{
    color: transparent !important;
}

.input-start-error {
    border: 2px solid red;
    background-color: #fff !important;
}

.input-start-error:focus{
    outline: red;
}

.start-btn {
    border: 0;
    height: 50px;
    font-size: 20px;
    padding: 0 2rem 0 2rem;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
}

.start-btn-primary {
    color: #fff;
    background-color: #6772f0;
    transition: all 0.2s ease;
}

.start-btn-primary:hover{
    cursor: pointer;
    background-color: #4352f8;
}

.text-primary {
    color: rgba(88, 101, 242, 1);
}

.text-primary:hover{
    color: #3c4cf5;
}

.clearfix {
    clear: both;
}

@media only screen and (max-height: 700px) {
    .get-start-component {
        .end-space {
            height: 3rem;
        }
    }
}