.add-friend-dialog-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(#818181, .5);
    form {
        width: 27rem;
        height: 35rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-height: 95%;
        opacity: 0;
    }
    .add-friend-dialog {
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        border-radius: .5rem;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 3rem 4.5rem calc(100% - 3rem - 4.5rem - 4rem) 4rem;
        .add-friend-dialog-title {
            width: 100%;
            height: 100%;
            font-size: 1.2rem;
            text-align: center;
            color: #5865F2;
            font-weight: bold;
            line-height: 3rem;
            border-bottom: 1px solid #cecece;
            position: relative;
            i {
                position: absolute;
                height: 100%;
                display: block;
                font-size: 1.5rem;
                right: 4%;
                top: 25%;
                cursor: pointer;
            }
        }
        
        .add-friend-dialog-input {
            width: 90%;
            height: 2.5rem;
            margin: 1rem auto;
            display: flex;
            border-radius: 5rem;
            justify-content: center;
            align-items: center;
            background-color: #e6e6e6;
            input {
                height: 2rem;
                width:90%;
                background: none;
                outline: none;
                border: none;
                padding: 0 .5rem;
            }
            i {
                display: inline-block;
                height: 2rem;
                width: 7%;
                line-height: 2rem;
                font-size: 1.25rem;
                color: #5865F2;
            }
        }
    
        .add-friend-dialog-suggestion {
            width: 100%;
            height: 100%;
            overflow-y: auto;
            border-top: 1px solid #cecece;
            border-bottom: 1px solid #cecece;
            padding: .5rem .5rem;
        }

         
        .add-friend-dialog-suggestion::-webkit-scrollbar {
            width: .4rem;
        }
        
        /* Track */
        .add-friend-dialog-suggestion::-webkit-scrollbar-track {
            background: #f0f0f0;
        }
        
        /* Handle */
        .add-friend-dialog-suggestion::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 1rem;
        }

        .add-friend-dialog-suggestion::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 1rem;
            visibility: hidden;
        }

        .add-friend-dialog-suggestion:hover::-webkit-scrollbar-thumb {
            visibility: visible;
          }

        .add-friend-dialog-submit {
            width: 100%;
            height: 100%;  
            display: flex;
            justify-content: center;
            align-items: center;
            .add-friend-btn{
                margin: 0 1rem;
                width: 8rem;
                height: 2.25rem;
                border-radius: .25rem;
                outline: none;
                border: none;
                cursor: pointer;

            }
            .add-friend-btn-cancel {
                color: #5865F2;
                border-color: #5865F2;
                border: 1px solid;
                background: none;
            }

            .add-friend-btn-submit {
                color: #ffffff;
                background-color: #5865F2;
            }
        }
    }
}

.chat-wrapper[data-theme='dark-theme'] .add-friend-dialog-wrapper {
    .add-friend-dialog {
        background-color: #36393f;
        .add-friend-dialog-suggestion::-webkit-scrollbar-track {
            background: #36393f;
        }

        .add-friend-dialog-input {
            background-color: #525863;
        }

        .add-friend-dialog-suggestion {
            border-top: 1px solid #41454d;
            border-bottom: 1px solid #41454d;
        }

        .add-friend-dialog-title {
            border-bottom: 1px solid #41454d;;
        }
        .add-friend-btn-cancel {
            color: #5865F2;
            border-color: #5865F2;
            background-color: #36393f;
        }
    }
}