.out-group-form-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(#818181, .5);
    form {
        width: 27rem;
        height: 13rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .out-group-form {
        width: 100%;
        height: 100%;
        max-height: 95%;
        background-color: #ffffff;
        border-radius: .5rem;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 3rem 5rem calc(100% - 3rem - 5rem - 4rem) 4rem;
        
        .out-group-form-title {
            width: 100%;
            height: 100%;
            font-size: 1.2rem;
            font-weight: bold;
            text-align: center;
            color: #5865F2;
            line-height: 3rem;
            border-bottom: 1px solid #cecece;
            position: relative;
            i {
                position: absolute;
                height: 100%;
                display: block;
                font-size: 1.5rem;
                right: 4%;
                top: 25%;
                cursor: pointer;
                color: #5865F2;
            }
        }

        .text-ask {
            text-align: center;
            font-size: 18px;
            padding-top: 20px;
        }
    
        .out-group-form-friends-list {
            width: 100%;
            height: 20rem;
            overflow-y: auto;
            border-top: 1px solid #cecece;
            border-bottom: 1px solid #cecece;
            padding: .5rem .5rem;
        }

         
        .out-group-form-friends-list::-webkit-scrollbar {
            width: .4rem;
        }
        
        /* Track */
        .out-group-form-friends-list::-webkit-scrollbar-track {
            background: #f0f0f0;
        }
        
        /* Handle */
        .out-group-form-friends-list::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 1rem;
        }

        .out-group-form-friends-list::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 1rem;
            visibility: hidden;
        }

        .out-group-friends-list:hover::-webkit-scrollbar-thumb {
            visibility: visible;
          }

        .out-group-form-submit {
            width: 100%;
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            .out-group-form-submit-btn{
                margin: 0 1rem;
                width: 9rem;
                height: 2.25rem;
                border-radius: .25rem;
                outline: none;
                border: none;
                cursor: pointer;

            }
            .out-group-form-submit-btn-1 {
                color: #5865F2;
                border-color: #5865F2;
                border: 1px solid;
                background: none;
            }

            .out-group-form-submit-btn-2 {
                color: #ffffff;
                background-color: #5865F2;
            }
        }
    }
}

.chat-wrapper[data-theme='dark-theme'] .extension-form-wrapper {
    .extension-form {
        background-color: #36393f;
        .extension-form-friends-list::-webkit-scrollbar-track {
            background: #36393f;
        }

        .extension-form-name-group {
            background-color: #525863;
        }

        .extension-change-group-avatar {
            border-color: #515661;
        }

        .extension-form-friends-list {
            border-top: 1px solid #41454d;
            border-bottom: 1px solid #41454d;
        }

        .extension-form-title {
            border-bottom: 1px solid #41454d;;
        }
        .add-friend-btn-cancel {
            color: #5865F2;
            border-color: #5865F2;
            background-color: #36393f;
        }
    }
}