.main-chat-center {
    width: calc(100% - 22rem - 4rem);
    height: 100vh;
    display: flex;
    position: relative;
    z-index: -1;
}

@media screen and (max-width: 800px) {
    .main-chat-center{
        width: calc(100% - 4rem);
        display: none;
    }

    .show-main-chat-phone-screen {
        display: block;
    }
}