.extension-wrapper {
    width: 22rem;
    height: 100vh;
    overflow-y: scroll;
}

.extension-wrapper::-webkit-scrollbar{
    display: none;
}

.chat-wrapper[data-theme='dark-theme'] {
    .extension-header {
        border-bottom: 1px solid #41454d !important;
    }

    .element-extension {
        border-bottom: 1px solid #41454d !important;
    }
}